@font-face {
    font-family:"pix";
    src:url("pix.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

* {
    font-family: "segoe ui";
    line-height: 1.2;
    font-size: 10px;
    color: #eee;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

body {
    background-color: #f0f;
    overflow: hidden;
}

taskbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 16px;
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(85,85,85,1) 100%);
    box-shadow: 0 2px 0 0 black;
}

content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: calc(100% - 16px);
    background-color: #111;
}

tag {
    float: left;
    height: 15px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 9px;
    text-shadow: 1px 1px 1px black;
    background-image: urL("metal.png");
}

tag span {
    color: orangered;
}

icon img {
    width: 48px;
    height: 48px;
}

icon {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    height: 64px;
    margin: 4px;
    width: 60px;
    padding: 3px;
}

dwm {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    padding: 8px;
}

window {
    display: none;
    background-color: #222;
    padding: 3px;
    position: absolute;
    width: 400px;
    border: 1px solid #555;
}

window titlebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #555;
    background-color:#222;
}

window wincontent {
    position: absolute;
    top: 20px;
    left: 4px;
    width: calc(100% - 8px - 8px);
    height: calc(100% - 16px - 16px);
    padding: 4px;
}

icon name {
    display: block;
}

window.focus titlebar{
    background-color: #444;
}

closebutton {
    float: right;
    width: 24px;
    height: 16px;
    background-image: url("./close.png");
    transition: 60ms ease-in-out;
}

closebutton:hover {
    transition: 60ms ease-in-out;
    background-color: #c33;
}

icon:hover {
    outline: 1px dotted gray;
    background-color: #ccc2;
}

clock {
    margin: 2px;
    color: white;
    padding-left: 1px;
    float: right;
    height: 10px;
    text-align: right;
    margin-right: 6px;
}

titlebar name {
    position: absolute;
    top: 2px;
    left: 2px;
    padding-left: 16px;
    background-size: 12px;
    background-repeat: no-repeat;
}

live {
    color: gray;
    height: 10px;
    float: right;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: -1px;
    text-shadow: 1px 1px 2px black;
}

live::before{
    content: "⬤";
    margin-right: 2px;
}

live.islive {
    color: white;
}

live.islive::before {
    content: "⬤";
    margin-right: 2px;
    color: red;
}

popup {
    position: absolute;
    right: 4px;
    top: 20px;
    background-color: #333;
    clip-path: polygon(calc(100% - 12px) 0, calc( 100% - 8px) 4px, 100% 4px, 100% 100%, 0 100%, 0 4px, calc(100% - 16px) 4px);
    padding: 4px;
    color: #ccc;
    width: 200px;
    text-align: center;
    border-top: 6px solid red;
    padding-bottom: 8px;
}

popup img {
    width: 198px;
    margin-top: calc(-6%);
    margin-bottom: calc(-6%);
    clip-path: polygon(0 12%, 100% 12%, 100% 88%, 0 88%);
    border: 1px solid black;
}

close {
    position: absolute;
    right: 4px;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: #444;
    background-image: url(close.png);
    background-position: center;
    cursor: pointer;
}

live.islive {
    cursor: pointer;
}

a {
    text-decoration: none;
}

preload h1{
    margin-top: -32px;
    font-family: pix;
    font-size: 64px;
}

preload {
    position: absolute;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

preload span {
    color: orangered;
    font-size: 64px;
    font-family: pix;
}

preload img {
    height: 32px;
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% + 12px + 16px);
    width: 32px;
}

ul#taskbarcontainer {
    position: absolute;
    list-style: none;
    left: 52px;
    padding-left: 0;
    margin: 0;
    top: 0;
    height: 16px;
    right: 76px;
}

li.taskbaritem {
    float: left;
    height: 15px;
    margin-right: 2px;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #444;
    cursor: pointer;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 1px;
    transition: ease-in-out 100ms;
    background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(85,85,85,1) 100%);
    box-shadow: 0 0 1px black;
}

li.taskbaritem p#name {
    float: right;
    margin: 1px;
}

li.taskbaritem:hover {
    background-color: #555;
    transition: ease-in-out 100ms;
    box-shadow: 0 0 2px black;
    background: linear-gradient(0deg, rgba(61,61,61,1) 0%, rgba(95,95,95,1) 100%);
}

li.taskbaritem.focus {
    background-color: #555;
    background: linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(102,102,102,1) 100%);
    box-shadow: 0 0 4px black;
}

li.taskbaritem img {
    width: 14px;
    margin-right: 2px;
}

icon.ui-draggable-dragging {
    outline: 1px dotted gray;
    background-color: #ccc2;
}

minbutton {
    background-image: url(min.png);
    float: right;
    height: 16px;
    transition: ease-in-out 200ms;
    width: 24px;
}

minbutton:hover {
    background-color: #7775;
    transition: ease-in-out 200ms;
}

tabcontainer {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 16px;
    background-color: #111;
}

div.tab {
    margin: 1px 1px 0 1px;
    padding: 2px 3px 2px 3px;
    height: 10px;
    float: left;
    background-color: #1c1c1c;
    border-bottom: 1px solid #111;
}

div.tab:hover {
    cursor: pointer;
    background-color: #444;
}

div.tab.focus {
    background-color: #222;
    background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(97,97,97,1) 100%);
    border-bottom: 1px solid #222;
}

div.tab.focus:hover {
    cursor: initial;
    background-color: #222;
}

tabcontent.focus {
    display: initial;
}

tabcontent {
    position: absolute;
    padding: 4px;
    top: 16px;
    left: 0;
    width: 80%;
    height: 320px;
    display: none;
}

div.winpreload {
    position: absolute;
    background-color: #222;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
    justify-content: center;
}

div.winpreload p {
    margin-top: 1px;
}

input {
    background-color: #333;
    color: white;
    border: 1px solid gray;
    margin-right: 4px;
    flex-grow: 1;
}

wincontent p {
    margin-bottom: 4px;
}

button {
    background-color: #333;
    color: white;
    border: 1px solid gray;
}

button:hover{
    background-color: #555;
}

form {
    display: flex;
}

p.success {
    color: lime;
}

p.fail {
    color: red;
}

bigassmessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0007;
}

msgbox {
    background-color: #222;
    max-width: 60rem;
    min-width: 200px;
    border-radius: 4px;
}


msgbox h1#msgheader {
    background-color: #333;
    margin: 0;
    padding: 6px;
    box-shadow: 0 0 2px black;
    border-radius: 4px 4px 0 0;
}

msgbox p#msgtext {
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    font-family: "segoe ui light";
}

msgbox p#msgstacklabel {

    margin: 10px;
    margin-bottom: 4px;
}

msgbox pre#msgstack {
    background-color: #333;
    padding: 4px;
    margin: 10px;
    font-family: monospace;
    max-height: 140px;
    overflow-y: scroll;
    margin-top: 0;
}

msgbox button#msgok {
    float: right;
    margin-right: 6px;
    margin-bottom: 4px;
    padding: 6px;
    background-color: #333;
}
msgbox button#msgok:hover {
    cursor: pointer;
    background-color: #444;
}