@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  font-size: 16px;
  color: #e4e4e4;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #43e97b 0%, #38f9d7 100%);
  border: 3px #242424 solid;
}

nav {
  background-color: #343434;
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  box-shadow: 0 2px 8px #141414;
}

li img {
  object-fit: scale-down;
  width: 3rem;
}

sep {
  border-left: 1px solid #474747;
  height: 3rem;
  position: absolute;
  left: 5rem;
  top: 1rem;
}

ul {
  list-style: none;
  padding-left: 1rem;
  margin-top: 1rem;
}

li a.button {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  height: 2.5rem;
  width: 8rem;
  background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
  border: none;
  margin: none;
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s ease-out;
}

li a:hover{
  transform: scale(1.04);
  transition: all 0.15s ease-out;
}

li a h1 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: .65rem;
}

main {
  background-color: #2f2f2f;
  padding: 2rem;
  margin-top: 6rem;
  margin-left: 7rem;
  margin-right: 7rem;
}
